<div ng-controller="CategoryController as categoryCtrl">
    <h4 ng-hide="categoryCtrl.categories.length > 0">
        There is no category.....
    </h4>

    <div ng-repeat="category in categoryCtrl.categories" class="row">
        <h3>{{category.Name}}</h3>
        <p>{{category.Description}}</p>
        <button ng-show="{{category.HasRecords}}">Details</button>
    </div>

    <h2>Add a new category</h2>
    <form name="newCategoryForm" role="form"
          ng-submit="newCategoryForm.$valid && categoryCtrl.addCategory()" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control"
                   ng-model="categoryCtrl.category.Name" required />
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"
                      ng-model="categoryCtrl.category.Description" required></textarea>
        </div>

        <input type="submit" value="Submit" class="btn btn-default" />
    </form>
</div>
