@using System.Web.Optimization
<!DOCTYPE html>

<html ng-app="MMM">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Scripts.Render("~/Scripts/AngularJS")
    @Scripts.Render("~/Scripts/Custom")
</head>
<body>
    @RenderBody()
</body>
</html>
